body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0d1f30;
    /* width: 100vw; */
}
::-webkit-scrollbar {
    display:none;
  }
  
::-webkit-scrollbar-track {
    display:none;
  }
  
::-webkit-scrollbar-thumb {
    display:none;
  }
#content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
h1{
    color: white;
   
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.ocean{
    color: lightblue;
}

.card{
    padding: 20px;
    border: 3px solid white;
    max-height: 250px;
    width: 250px;
    background-color: #0d1f30;
    border-radius: 25px;
    overflow: auto;
    margin: auto;
    
    margin: 10px;
    padding: 10px;
}


.card:hover{
    background-color:Teal;
    border-radius: 25px;
    
}
.card::-webkit-scrollbar {
    display:none;
  }
  
  .card::-webkit-scrollbar-track {
    display:none;
  }
  
  .card::-webkit-scrollbar-thumb {
    display:none;
  }

img{
    max-width: 70%;
    max-height: 70%;
    border-radius: 25px;
    padding: 10px;
    
}

#likes{
    color: black;
}


.description{
    font-size: 1.25em;
    color: white;
}